@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap);
* {
  color: #6c757d;
  font-weight: 300;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.no-scroll {
  overflow: hidden;
}
.header1 {
  display: block;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  height: 75px;
  border-radius: 10px;
}
.header__nav1 {
  position: absolute;
  right: 15px;
  top: 15px;
}
.red {
  color: #dc3545;
  background-color: #0000;
  background-image: none;
  border-color: #dc3545;
}
.red:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-radius {
  text-transform: uppercase;
  border-radius: 1.8rem;
}
.btn-white {
  background-color: #fff;
}
.btn-white:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.menu1 {
  background-color: #f1f1f1;
  padding: 10px 20px;
  position: relative;
}
.menu__left-name1 {
  color: #000;
  font-weight: 300;
}
.menu__left-name1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #6c757d;
  margin-top: 5px;
}
.menu__left-birthday1 {
  font-size: 1.5rem;
}
.menu__left-birthday1 span {
  font-size: inherit;
}
.menu__left-rang1 {
  display: block;
  font-size: 1.5rem;
  width: 150px;
}
.menu__left-rang1 span {
  font-size: inherit;
}
.menu__right-info1 {
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.menu1::after {
  content: "";
  display: block;
  position: absolute;
  width: 97%;
  height: 1px;
  background-color: #6c757d;
  margin-top: 5px;
  bottom: 0;
  left: 20px;
}
.menu-content1 {
  background-color: #f1f1f1;
  min-height: 64%;
  padding: 10px 20px;
}
.menu-content__list1 {
  margin-top: 10px;
}
.menu-content__list-name1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}
.menu-content__list-name1::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: #6c757d;
  margin-top: 5px;
  margin-left: 10px;
}
.menu-content__list__payments1 {
  text-transform: uppercase;
  height: 250px;
  overflow: auto;
  list-style: none;
  padding: 10px;
}
.menu-content__list__payments1::after {
  content: "";
  display: block;
  width: 99%;
  height: 1px;
  background-color: #6c757d;
  margin-top: 5px;
  margin-left: 0;
}
.menu-content__list__payment1 {
  padding-bottom: 15px;
}
.menu-content__achievement-item1 {
  border-radius: 0.8rem;
  padding: 0;
}
.menu-content__achievement-item-left1 {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  border-radius: 0.8rem;
  line-height: 290%;
}
.menu-content__achievement-item-right1 {
  font-size: 17px;
}
.footer1 {
  height: 130px;
  background-color: gray;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important;
}
